<p>Login</p>

<form action="/login" method="POST">

<div class="form-thing">
  <label>Email:
    <input type="email", name="username" required>
  </label>
</div>
<br>
<div class="form-thing">
  <label>Password:
    <input type="password" name="password" required/>
  </label>
</div>

<div class="button-containers-two">

<button class="" type="submit">Login</button>

<br>
<p>Don't have an account?</p>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}


<div class="button-containers-two">
  <a class="button-link-two" href="/signup">Sign Up</a>
</div></p>

</form>
