<p>Signup</p>

<form action="/signup" method="POST">
  <label>
    Email:
    <input type="text" name="username" />
  </label>
  <br />
  <br />

  <label>
    Password:
    <input
      type="password"
      name="password"
      id="input-password"
    />
  </label>

  <div class="button-containers">
    <button id="button-link">Create account</button>
  </div>

  {{! error message will be added here }}
</form>