<div class="header-classifieds">
  <form class="search-bar" id="form" role="search">
    <label>Search:
      <input type="search" name="search" />
    </label>
  </form>

  <form class="search-bar" id="form" role="search">
    <label>Organize by:
      <input type="search" name="search" />
    </label>
  </form>

</div>


