<div>
<div class="classifieds-doggo"></div>
<p>Bandit</p>

<br><br>
Haec igitur lex in amicitia sanciatur, ut neque rogemus res turpes nec faciamus rogati. 



  <div class="button-containers">
    <a id="button-link" href='/home'>Go Back</a>
    <a id="button-link" href='/Send-Bone'>Send Bone</a>
    </div>

  </div>