To {{user.name}} from {{sender.name}}





<form action="" method="POST" class="form-doggo">
<input type="hidden" name="receiver" value="{{user.id}}">
  <div class="form-thing" id="form-hing">
    <label><textarea name="message" id="message" maxlength="280" required></textarea></label>

  </div>


    <div class="button-containers">

      <a id="button-link" href='/classifieds'>Go Back</a>


      <button id="button-link" type="submit">Save</button>

            {{!-- <a id="button-link" href='/profile/save'>Save</a>
                  <a id="button-link" href='/home'>Delete</a> --}}

  </div>
  </form>