{{doggo.name}}

 <div class="button-containers">
    <a id="button-link" href='/home'>Go Back</a>

  </div>

  <form action="/:{{id}}" method="POST" class="send-bone">
  <button > Send Bone</button>
  </form>