<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
  </head>
  <body>

    <header>

      <div class="paws-container"><img
          class="paws-left"
          src="images/Paw.png"
          alt=""
        />
        <img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
      </div>

      <div class="bone-container">
        <img class="bone" src="images/Bone.png" alt="Bone" />
        <a href="" style="text-decoration: none;"><h1 class="title">One Paw Away</h1></a>
      </div>

      <div class="paws-container"><img
          class="paws-right"
          src="images/Paw.png"
          alt=""
        />
        <img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
      </div>
    </header>

    <div id="content">

    <div id="sidenav">
      {{#if isHome}}
<img class="norman" src="images/norman.png" alt="">
      {{else}}
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="">Messages</a>
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="profile">Profile</a>
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="/">Log Out</a>
      {{/if}}
    </div>


    <div class="text-box">

      <h3>

            {{{body}}}

            
      

    </h3></div>


    </div>




    <footer>
      <div class="rose-left">
        <img src="images/rose left.png" alt="" />
      </div>
      <div class="rose-left">
        <img src="images/rose left.png" alt="" />
      </div>
      <div class="rose-left">
        <img src="images/rose left.png" alt="" />
      </div>

      <div id="about" class="footer-links">
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="/about">About Us </a>
      </div>

      <div id="contact" class="footer-links">
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="mailto:adamghaoul@gmail.com?subject=One Paw Away">Contact</a>
      </div>




      <div class="rose-right">
        <img src="images/rose right.png" alt="" />
      </div>
      <div class="rose-right">
        <img src="images/rose right.png" alt="" />
      </div>
      <div class="rose-right">
        <img src="images/rose right.png" alt="" />
      </div>

    </footer>

    <script src="/javascripts/script.js"></script>
  </body>
</html>