<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
  </head>
  <body>

    <header>

      <div class="paws-container"><img
          class="paws-left"
          src="images/Paw.png"
          alt=""
        />
        <img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
      </div>

      <div class="bone-container">
        <img class="bone" src="images/Bone.png" alt="Bone" />
        <a href="" style="text-decoration: none;"><h1 class="title">One Paw Away</h1></a>
      </div>

      <div class="paws-container"><img
          class="paws-right"
          src="images/Paw.png"
          alt=""
        />
        <img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
      </div>
    </header>

    <div id="content">

    <div id="sidenav">
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="">Messages</a>
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="">Profile</a>
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="">Log Out</a>
    </div>

    <div class="text-box">

      <h3>
        <p>Lorem ipsum</p>  dolor sit amet, consectetur adipiscing elit. Maecenas porttitor massa vel leo gravida, id scelerisque risus efficitur. Fusce scelerisque, urna vel pellentesque aliquam, turpis leo interdum diam, ut molestie magna ligula ut mi. Maecenas nibh leo, consectetur id ex quis, suscipit finibus nisl. Nulla pharetra feugiat nunc, sodales iaculis ante dictum eu. Donec mollis orci at tristique sollicitudin. Donec vel purus elit. Suspendisse facilisis ligula luctus sapien mattis pulvinar. Phasellus auctor nunc ut elit molestie, a fermentum turpis pellentesque. Suspendisse molestie felis turpis, eget congue diam suscipit ut.

Aliquam erat volutpat. Donec sollicitudin tellus ut sem aliquet, in mollis ante dignissim. Cras nec orci auctor, aliquam diam ut, vehicula nisl. Proin vehicula hendrerit convallis. Nulla ut diam libero. Sed sed lorem ac sem sagittis elementum. Vestibulum et maximus nisl, sed ultricies velit. Nulla maximus placerat sapien quis lobortis. Etiam ac auctor sapien. Nulla fringilla molestie odio sodales ultrices. Nulla sagittis nulla et commodo cursus. Proin dui elit, ornare quis pretium eget, ultrices laoreet tellus. Praesent rutrum lobortis aliquam. Sed eu enim sed nisi bibendum sagittis sit amet in mi.

Vivamus efficitur nisl a dolor scelerisque imperdiet. Cras sollicitudin lacus nec metus iaculis, nec consectetur leo mattis. Duis convallis nec ex id ullamcorper. Nam pellentesque nunc diam, vitae volutpat tortor lacinia ac. In sollicitudin molestie faucibus. Donec auctor, felis finibus consequat feugiat, ligula sem semper lacus, sed volutpat velit leo sed sapien. Suspendisse leo orci, elementum in ipsum id, porttitor posuere quam. Quisque fermentum nisl erat, nec pretium libero consectetur id. Vivamus malesuada eu ex sed fringilla. Fusce id augue ullamcorper, faucibus nunc sed, eleifend arcu. Sed ullamcorper felis eu dolor laoreet fringilla. Donec mauris ante, malesuada id tempor vitae, luctus non massa. Ut cursus eros tortor, lacinia condimentum est maximus dapibus.

Integer eget quam feugiat, porttitor velit sed, scelerisque arcu. Duis condimentum sit amet dui eu ornare. Duis lacinia nisi vitae sem accumsan dictum. In pellentesque justo ut tortor ornare imperdiet. Donec ac lacus ut arcu vestibulum pellentesque. Nullam libero urna, mattis venenatis dui a, feugiat tristique neque. Proin vestibulum est ante, at mollis augue consequat in. Integer ante lacus, imperdiet non orci tempor, malesuada tempus velit. Vivamus tincidunt orci venenatis, venenatis felis a, aliquam dolor. Ut libero sapien, posuere sed tellus vel, volutpat vestibulum dolor. Nam eget tortor eu neque aliquet porttitor sed nec ex. Integer convallis eros sit amet magna aliquam, at viverra lacus tempus. Vivamus mollis est in turpis varius, non commodo neque cursus.

Proin lacinia neque sit amet eros tincidunt, eu cursus turpis tempor. Aenean laoreet tortor vel ornare tristique. Mauris pharetra arcu ut neque pellentesque viverra quis id ante. Quisque et sapien in risus imperdiet consequat. Integer elementum odio ac augue fringilla accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In mattis risus sit amet lectus condimentum dapibus. Maecenas porttitor ultricies sapien, sed ultrices eros varius in. Nam quis nisl et felis volutpat feugiat id eget diam.
    </h3></div>


    </div>


    {{{body}}}

    <footer>
      <div class="rose-left">
        <img src="images/rose left.png" alt="" />
      </div>
      <div class="rose-left">
        <img src="images/rose left.png" alt="" />
      </div>
      <div class="rose-left">
        <img src="images/rose left.png" alt="" />
      </div>

      <div id="about" class="footer-links">
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="">About Us </a>
      </div>

      <div id="contact" class="footer-links">
      <img class="menu-bone" src="images/Bone.png" alt="" />
      <a href="">Contact</a>
      </div>




      <div class="rose-right">
        <img src="images/rose right.png" alt="" />
      </div>
      <div class="rose-right">
        <img src="images/rose right.png" alt="" />
      </div>
      <div class="rose-right">
        <img src="images/rose right.png" alt="" />
      </div>

    </footer>

    <script src="/javascripts/script.js"></script>
  </body>
</html>