<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
  </head>
  <body>

    <header>


      <div><img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
        <img class="paws-left" src="images/Paw.png" alt="" />
      </div>

      <div><img class="bone" src="images/Bone.png" alt="" />
       <h1 class="title">One Paw Away</h1>
      </div>
     

      <div><img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
        <img class="paws-right" src="images/Paw.png" alt="" />
      </div>
    </header>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>
</html>