

{{#each user.requests}}
A bone from {{this.name}} 
<a href="/{{this.id}}">open</a>
{{/each}}




<br>
{{#each user.friends}}
<br>
You can message {{this.name}} 
<a href="/doggos/{{this.id}}/dms">open</a>
{{/each}}

