<p>Messages</p> 
<div class="bone-box" >

{{#each user.requests}}
 A bone from {{this.name}} 
<a  href="/doggos/{{this.id}}">Open</a>
{{/each}}
</div>

<div class="bone-box" >

<br>
{{#each user.friends}}
<br> 
Chat with {{this.name}} 
<a   href="/doggos/{{this.id}}/dms">Open</a> 
{{/each}}
</div>
<br>

    <div class="button-containers">

      <a id="button-link" href='/classifieds'>Go Back</a>


            {{!-- <a id="button-link" href='/profile/save'>Save</a>
                  <a id="button-link" href='/home'>Delete</a> --}}

  </div>

