<p>Profile</p>

<form action="" method="GET" class="form-doggo">
  <div class="form-thing">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required />
  </div>
  <br>
  <div class="form-thing">
    <label for="type">Type:</label>
    <input type="text" name="name" id="type" required />
  </div>
  <br>
    <div class="form-thing">
    <label >
      Birthday:
      <input type="text" name="birthday" required />
    </label>
    
  </div>
  <br>
    <div class="form-thing">
    <label for="location">Location:</label>
    <input type="text" name="name" id="location" required />
  </div>
  <br>
    <div class="form-thing">
    <label for="type">Important:</label>
    <input type="text" name="name" id="important" required />
  </div>
  <br>
    <div class="form-thing">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />
  </div>
  <br>
    <div class="form-thing">
    <label for="password">Password:</label>
    <input type="text" name="name" id="name" required />
  </div>
  <br>
    <div class="form-thing">
    <label for="bio">Bio:</label>
    <textarea name="name" id="bio"  class="bio-thing" required></textarea>
  </div>
<div class="button-containers">
  <button>Go Back</button>
  <button>Save</button>
  <button>Delete</button>
</div>
</form>

